node_modules
.env
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
out
dist
.logs
*.log
.DS_Store
*.pem
*.key
*.crt
*.csr
*.key.org
*.crt.org
.env.*
!.env.example